services:
  redis:
    image: redis:alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always
    environment:
      # 设置中国时区
      TZ: Asia/Shanghai
volumes:
  redis-data:
