services:
  web:
    build: .
    container_name: flask-app
    expose:
      - "5000"
    environment:
      - WECHAT_TOKEN=${WECHAT_TOKEN}
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    restart: always